#header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1rem 0;
    height: 42px;
}

#colorPicker {
    height: 42px;
    width: 61px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

#schemeType{
    width: 57%;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    padding: 0 .3rem;
    font-size: .9rem;
}

#getSchemeBtn {
    height: 42px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    background-color: #fff;
}

#colorDisplayArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.color-item {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.color-box {
    flex: 1;
    width: 100%;
}

.color-code {
    text-align: center;
    margin: 10px 0;
    font-size: 1.2rem;
    color: #000;
}
