#colorDisplayArea {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.color-item {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.color-box {
    flex: 1;
    width: 100%;
}

.color-code {
    text-align: center;
    margin: 10px 0;
    font-size: 1.2rem;
    color: #000;
}
